<div class="nav-wrapper">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" id="Statistic" href="@Url.Action("Index", "Statistic")">
                <i class="fas fa-chart-line"></i>
                <span>Thống kê</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="Product" href="@Url.Action("Index", "Product")">
                <i class="fas fa-box-open"></i>
                <span>Sản phẩm</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="Category" href="@Url.Action("Index", "Category")">
                <i class="fas fa-th"></i>
                <span>Danh mục</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="Supplier" href="@Url.Action("Index", "Supplier")">
                <i class="fas fa-truck-loading"></i>
                <span>Nhà cung cấp</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="Account" href=" @Url.Action("Index", "Account")">
                <i class="fas fa-user"></i>
                <span>Tài khoản</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="Bill" href="@Url.Action("Index", "Bill")">
                <i class="fas fa-file-invoice"></i>
                <span>Hóa đơn</span>
            </a>
        </li>

    </ul>
</div>

